html, body {
    overflow-x: hidden;
}

html, body, h1, h2 {
    margin: 0;
    padding: 0;
}

$headingShadow: 
0.025em 0.075em 0 #FFB650, 
0.05em 0.1em 0 #FFD662, 
0.075em 0.125em 0  #FF80BF, 
0.1em 0.15em 0 #EF5097, 
0.125em 0.175em 0 #6868AC, 
0.15em 0.2em 0 #90B1E0;  

$font-def: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;


header {
    background-color: rgb(134, 225, 255);
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5% 0;
    border-bottom: 0.5em solid red;

    .left-header {
        flex: 1;
        padding-left: 1em;
        span {
            font-size: clamp(2.5rem, 4vw, 5rem);
        }
    }

    .middle-header {
        flex: 2;
        padding: 0;
        h1 {
            font-size: clamp(1.5rem, 3vw, 3vw);
            margin: 0;
            font-family: "Gluten", sans-serif;
            color: #f7f2e0;
            text-align: center;
            text-transform: uppercase;
            text-shadow: $headingShadow;
        }
    }

    .right-header {
        flex: 1;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: clamp(0.2rem, 1vw, 3rem);
        list-style-type: none;
        padding: 0 1em 0 0;

        li {
            font-size: clamp(1.5rem, 2vw, 5rem);     
        }
        .total-amount-header {
            font-family: $font-def;
            font-weight: bold;
        }

    }
}

main {

    .hero-section {
        height: 100vh;
        position: relative;
        color: white;
        font-family: "Dancing Script", sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            position: absolute;
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: center;
            z-index: -1;
            filter: blur(0.2em);
        }

        .welcoming-text {
            display: flex;
            flex-direction: column;
            align-items: center;
    
            h2 {
                font-size: clamp(4rem, 7vw, 8rem);
            }
    
            p {
                font-size: clamp(2rem, 4vw, 8rem);
                text-align: center;
                font-weight: 700;
            }
        }
    }

    .product-section {
        border: 1px solid blue;
        padding: 10%;

        .product-filters {
            display: flex;
            height: 4em;
            align-items: center;
            justify-content: center;
            gap: 0.25em;
            font-family: $font-def;
            font-weight: 500;
            font-size: clamp(1rem, 2vw, 2rem);

            select {
                font-size: clamp(1rem, 2vw, 2rem);
                font-family: $font-def;
                
            }
        }

        .product-list {
            display: flex;
            justify-content: center;
            gap: 3em;
            flex-wrap: wrap;
            > .product {
                border: 0.5em solid pink;
                border-radius: 1em;
                padding: 1em 2em;
                flex-basis: 20rem;
                box-shadow: 
                0.25em 0.25em 0.5em rgb(255, 251, 0),
                -0.25em -0.25em 0.5em red;
              

                img {
                 width: 100%;
                 object-fit: cover;
                }

                .product-info {

                    h3 {
                        font-size: clamp(1.75em, 2vw, 2em);
                        font-family: "Gluten", sans-serif;
                        color: rgb(255, 36, 36);
                        text-shadow: $headingShadow;  
        
                    }

                    .product-description, .product-price {
                        font-size: clamp(1.5em, 1vw, 2em);
                    }

                    .product-description {
                        font-family: "Dancing Script", sans-serif;
                    }

                    .product-price, .product-category {
                        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                        font-weight: bold;
                    }

                    .rating {
                        display: flex;
                        gap: 0.25em;
                        font-size: 2em;
    
                        .checked, .fa-star-half-o, .fa-star-o {
                            color: yellow;
                        }
                    }
                }

                .product-buttons {
                    display: flex;
                    justify-content: center;
                    padding: 0.5em 0;

                    button {
                        font-size: clamp(1.5em, 1vw, 2em);
                        font-family: $font-def;
                        font-weight: 500;
                        border-radius: 0.25em;
                        border: none;
                        box-shadow: 0.1em 0.1em black;
                        padding: 0.25em 0.5em;
                        background-color: green;
                        color: white;

                        &:active {
                            box-shadow: 0.15em 0.15em black;
                        }
                    }

                }
                
            }

        }
    }

    .section-checkout {
        padding: 10%;
        background-color: beige;
        display: flex;
        flex-wrap: wrap;
        gap: 4em;

        .shop-cart {
            > h3 {
                font-family: $font-def;
                font-weight: 700;
                font-size: clamp(2.5em, 3vw, 5em);
                text-align: center;
                text-transform: uppercase;
                height: 2em;
                margin: 0;
                padding-top: 1em;
                background-color: white;
                border-bottom: 0.1em solid red;
            }

            .cart-item {
                display: flex;
                flex-wrap: wrap;
                padding: 1em;
                gap: 4em;
                background-color: white;
                border-bottom: 0.5em solid black;
                .item-left-section {
                    flex: 1;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-wrap: wrap;
                    font-family: $font-def;

                    img {
                        object-fit: cover;
                    }

                    .item-info {
                        > h4 {
                            font-size: clamp(1.5em, 1.5vw, 3em);
                        }

                        > p {
                            font-size: clamp(1em, 1vw, 2em);
                        }
    
                    }
                }

                

                .item-right-section {
                    flex: 1;
                    display: flex;
                    gap: 1em;
                    align-items: center;
                    justify-content: center;
                    flex-flow: column wrap;

                    .item-amount-control {
                        display: flex;
                        gap: 1em;

                        > button {
                            border: none;
                            width: clamp(1.5rem, 2vw, 2rem);
                            font-size: clamp(1rem, 1.5vw, 2em);
                            font-weight: bold;
                            color: white;
                            background-color: green;
                        }
                    }

                    .item-price {
                        display: flex;
                        align-items: center;
                        gap: 0.5em;
                        font-family: $font-def;
                        font-size: clamp(2em, 2vw, 2.5em);
                    }
                    
                    > .rating {
                        display: flex;
                        flex-wrap: nowrap;
                    }
                }

            }
        }
        form {
            flex: 1;
            background-color: white;
            display: flex;
            flex-direction: column;
            align-items: center;
            h4 {
                font-size: clamp(2em, 5vw, 3em);
                text-align: center;
                font-family: $font-def;
            }

            .form-checkout {
                padding: 4em;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 80%;


                .payment-card, .payment-invoice {
                    display: none;
                }

                .form-row:not(.payment-card):not(.payment-invoice) {
                    display: flex;
                }

                .form-row {
                    flex-direction: column;
                    width: 100%;

                    > label {
                        font-size: clamp(1em, 1.5vw, 2em);
                        font-family: $font-def;
                    }

                    > input {
                        height: clamp(1em, 3vh, 4em);
                        font-size: clamp(1em, 0.75w, 1.5em);
                    }
                }

                .pay-method-and-consent {
                    display: flex;
                    flex-direction: column;
                    font-family: $font-def;

                    .accept-terms {
                        display: flex;
                        flex-direction: column;
                    }
                }

                .submit-btn, .reset-btn {
                    font-size: clamp(1em, 3vw, 1.5em);
                    padding: 0.5em 1em;
                    background-color: green;
                    color: white;
                    font-family: $font-def;
                    font-weight: 700;
                    width: 100%;
                    margin: 0.25em 0;
                }
                
            }
            
        }

    }

    .order-confirmation {
        width: 50%;
        height: 50%;
        transform: translate(-50%, -50%);
        position: fixed;
        top: 50%;
        left: 50%;
        background-color: white;
        border: 0.2rem solid black;
        text-align: center;

        .confirmation-row {
            display: flex;
            gap: 1em;
            text-align: center;
            justify-content: center;
            align-items: center;
        }

        > .user-delivery-info {
            display: flex;
            flex-direction: column;
        }
    }

}