html, body, h1, h2 {
    margin: 0;
    padding: 0;
    overflow-x:hidden ;
}



header {
    background-color: rgb(134, 225, 255);
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5% 0;
    border-bottom: 0.5em solid red;

    .left-header {
        flex: 1;
        padding-left: 1em;
        span {
            font-size: clamp(2.5rem, 4vw, 4.5rem);
        }
    }

    .middle-header {
        flex: 2;
        padding: 0;
        h1 {
            font-size: clamp(1.5rem, 3vw, 3vw);
            margin: 0;
            font-family: "Gluten", sans-serif;
            color: #f7f2e0;
            text-align: center;
            text-transform: uppercase;
            text-shadow: 0.025em 0.075em 0 #FFB650, 
              0.05em 0.1em 0 #FFD662, 
              0.075em 0.125em 0  #FF80BF, 
              0.1em 0.15em 0 #EF5097, 
              0.125em 0.175em 0 #6868AC, 
              0.15em 0.2em 0 #90B1E0;      
        }
    }

    .right-header {
        flex: 1;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: clamp(0.2rem, 1vw, 3rem);
        list-style-type: none;
        padding-right: 1em;

        li {
            font-size: clamp(1.5rem, 2vw, 2.5rem);     
        }
        .total-amount-header {
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-weight: bold;
        }

    }
}

main {

    .hero-section {
        height: 100vh;
        position: relative;
        color: white;
        font-family: "Dancing Script", sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            position: absolute;
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: center;
            z-index: -1;
            filter: blur(0.2em);
        }

        .welcoming-text {
            display: flex;
            flex-direction: column;
            align-items: center;
    
            h2 {
                font-size: clamp(4rem, 7vw, 8rem);
            }
    
            p {
                font-size: clamp(2rem, 4vw, 8rem);
                text-align: center;
                font-weight: 700;
            }
        }
    }

}